name: CI

on:
  pull_request:
    paths: ["Casks/**", "Formula/**"]
  push:
    branches: [main]

jobs:
  audit:
    runs-on: macos-latest
    steps:
      - uses: Homebrew/actions/setup-homebrew@master
      - uses: actions/checkout@v4
      - name: Set up Homebrew Tap
        run: |
          brew update-reset "$(brew --repository)"
          TAP_BASE=$(brew --repository)/Library/Taps/${{ github.repository_owner }}
          mkdir -vp $TAP_BASE
          ln -vs $GITHUB_WORKSPACE $TAP_BASE/homebrew-${{ github.event.repository.name }}
      - name: Audit and style check casks
        run: |
          for cask in Casks/*.rb; do
            CASK_NAME="$(basename "$cask" .rb)"
            echo "===> Linting $CASK_NAME"
            brew style "$CASK_NAME"
            echo "===> Auditing $CASK_NAME"
            brew audit --strict --cask "$CASK_NAME"
          done
