name: CI

on:
  pull_request:
    paths: ["Casks/**", "Formula/**"]
  push:
    branches: [main]

jobs:
  audit:
    runs-on: macos-latest
    steps:
      - uses: Homebrew/actions/setup-homebrew@master
      - uses: actions/checkout@v4
      - name: Tap repository
        run: |
          REPO_PATH="${PWD}"
          brew tap ${{ github.repository }} "${REPO_PATH}"
      - name: Audit casks
        run: |
          for cask in Casks/*.rb; do
            brew audit --cask "$(basename "$cask" .rb)"
          done
      - name: Style check
        run: brew style Casks/
